In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv('vehicles_usa.csv')

In [7]:
df = pd.read_csv('vehicles_usa.csv')
df.head()

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

In [3]:
len(df)

2499

In [4]:
df = df.drop(['title_status','lot', 'vin','country'],axis=1)
df.columns=['ID','Preu','Marca','Model','Any','Km','Color','Estat','Condició']

In [5]:
df.head()

,ID,Preu,Marca,Model,Any,Km,Color,Estat,Condició
0,0,6300,toyota,cruiser,2008,274117.0,black,new jersey,10 days left
1,1,2899,ford,se,2011,190552.0,silver,tennessee,6 days left
2,2,5350,dodge,mpv,2018,39590.0,silver,georgia,2 days left
3,3,25000,ford,door,2014,64146.0,blue,virginia,22 hours left
4,4,27700,chevrolet,1500,2018,6654.0,red,florida,22 hours left

In [8]:
# Exemple: gràfic de dispersió
sns.scatterplot(x='Marca', y='Km', data=df)
plt.title('Gràfic de dispersió')
plt.show()

# Exemple: histograma
sns.histplot(df['Km'], bins=20)
plt.show()

ValueError: Could not interpret value `Marca` for `x`. An entry with this name does not appear in `data`.